[Unit]
Description=SWAutomorph Control Plan
After=network.target

[Service]
Type=forking
ExecStart=/home/ubuntu/opcp-ai-powered-store/scripts/start_swautomorph_controlplan.sh
ExecStop=/home/ubuntu/opcp-ai-powered-store/scripts/stop_swautomorph_controlplan.sh
WorkingDirectory=/home/ubuntu/opcp-ai-powered-store
User=ubuntu

[Install]
WantedBy=multi-user.target
